<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %}
            {% for category,mesg in messages %}
                {% if category == "success" %}
                    <div class="alert alert-success  mt-2 py-2 " role="alert">
                        {{ mesg }}
                    </div>
                {% elif category == "error" %}
                    <div class="alert alert-danger fw-bolder fs-4  py-2 " role="alert">
                        {{ mesg }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
            
</body>
</html>